
/*	------------------------------------------
	                CSS of "Overall"
	------------------------------------------  */

body,html {
	height     : 100%;
	margin     : 0;
	padding    : 0;
	font-family: Arial,"Microsoft YaHei","微软雅黑",sans-serif;
	background-color:white;
}
body {
	padding-top:50px;
}
.padding_0{padding:0 !important;}
.btn_new{
	background-color: rgba(0,0,0,0);
	border          :1px solid;
	font-size       :20px;
}
.btn_new:hover{
	background-color: rgba(255,255,255,0.5);
	border          :1px solid;
	font-size       :20px;
}

a:hover {text-decoration: none;}

/*	------------------------------------------
	   CSS of "Header & Footer & container"
	------------------------------------------  */

.inners{
	width 	: 80%;
	margin  : 0 auto;
}
.container{
	width     : 100%;
	max-width : 1200px;
	padding   : 0;
}
@media (max-width: 960px) {.inners	{width:100%;}}

#heading{
	color     : #C4E7FF;
	background: #2E5D9C;
	position  :	fixed;
	z-index   :	1000;
	top:                 0px;
	width     :	100%;
	min-height: 51px;
}

#headingForIndex{
	color     : #C4E7FF;
	background: #2E5D9C;
	position  :	absolute;
	z-index   :	1000;
	width     :	100%;
	bottom 	  : 0px;
	min-height: 51px;
}

#headingForIndex.affix {
   position: fixed;
   top: 0;
   z-index:10;
   max-height:51px;
   -webkit-transition: all .6s ease-in-out;
}

#inners img{
}

.navbar{margin:0;}
.navbar-toggle{margin-bottom:0;}

.nav{
	font-size:		14px;
}
.nav>li>a{
	background: #2E5D9C;
	color:#FFFFFF;
}
.nav a:hover{color:#2E5D9C;}

.footer{
	text-align : center;
	height     : 50px;
	line-height: 1.2em;
}
.footer>div{padding:17px;}

/*	------------------------------------------
	              CSS for "Index"
	------------------------------------------  */
.index_1{
	background     : url(../images/index_1.jpg) 50% 0 no-repeat;
	background-size: cover;
	margin:0 0 50px 0;
}
.index_1 img {
	margin:14%;
	width:50%;
}
.index_2{
	height         :150px;
	text-align     :center;
	background-color: #DDDDDD;
}
.index_2 h1{
	font-size:75px;
	line-height: 2em;
	vertical-align: middle;
	margin:0;
}
.index_3{
	background-color: #FFFFFF;
}
.index_3 article {
    text-indent:2em;
    font-size: 14px;
	float: left;
	width: 52%;
	margin: 5%;
}
.index_3 img{
	width  : 20%;
	margin: 5%;
}
.index_4{
	background           : url(../images/index_1.jpg) 50% 0 no-repeat;
	background-size      : cover;
	background-attachment:fixed;
	box-shadow: 0 0 20px #000000 inset; 	
}
.index_4 h1{
	font-size  :75px;
	color      :white;
	padding    :200px 0 40px 0;
	text-shadow:0 0 30px #000000;
	text-align :center;
}
.index_4 img{
	width: 100%;
	position:fixed;
	top:0;

	z-index:-1;
}

/*	------------------------------------------
	            CSS for "Old Index"
	------------------------------------------  */

.index { 
	background     : url(../images/index_1.jpg) 50% 0 no-repeat;
	background-size: cover;
	position       : relative;
}
.index h2 { 
	font-size  : 40px; 
	margin     : 25px 0; 
	line-height: 1em; 
	text-shadow: 0 -1px 300px #000000;
}
.index ul {list-style-type: none;}
.index>img {
	float: right;
	width: 25%;
	margin: 5%;
	color: white;
}
.article {
	position       : absolute;
	bottom         : 0;
	width          : 100%;
	background     : url(../images/shadow.png);
	background-size: 100% 100%;
	padding        : 20px;
	color          : white;
	display        : block;
}

.bottom_left {
	float:left;
	width: auto;
	padding:0 10px 40px 40px;
	max-width: 40%;
}
.bottom_left p { margin-bottom: 10%; }
.bottom_left a { color: white; text-decoration: none;}
.bottom_left a:hover {color: #0ff; text-decoration: underline;}
.bottom_left li {
	padding: 3px;
	border-bottom:1px solid white;
}
.bottom_left .btn{
	font-size:14px;
}
.bottom_right {
	padding:20px 40px 40px 20px;
	width: 60%;
	float:right;
	font-size:18px;
}
.bottom_right a {
	font-size: 28px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
@media (max-width: 480px){
	.article {background-color: rgba(0,0,0,0,5);}
	.bottom_left{max-width:100%;padding:0;}
	.bottom_right{width:100%;padding:0;	font-size:14px;}
}

/*	------------------------------------------
	        CSS for "Introduction"
	------------------------------------------  */

.block_intro h1{
	font-size:	100px;
	font-family:华文行楷;
	color:		#FFFFFF;
	text-shadow:0 0 30px #000000;
}
.block_intro {
	background-color: rgba(255,255,255,0.6);
	height: 100%;
}
.block_intro .btn {
	width:50%;
	margin:auto;
}
.block_intro p{
	padding:5% 20% 0 20%;
}
.bi1 {background: url(../images/intro_1.jpg);}
.bi2 {background: url(../images/intro_2.jpg);}
.bi3 {background: url(../images/intro_3.jpg);}
.bi4 {background: url(../images/intro_4.jpg);}
.bi1,.bi2,.bi3,.bi4{
	background-size:	cover;
	padding:	0;
	-webkit-filter: alpha(opacity = 30);
	-o-filter: alpha(opacity = 30);
	filter: alpha(opacity = 30);
}
.bi1 h1{position:absolute;bottom:0;right:10px;}
.bi2 h1{position:absolute;bottom:0;left:10px;}
.bi3 h1{position:absolute;top:0;right:10px;}
.bi4 h1{position:absolute;top:0;left:10px;}

/*	------------------------------------------
	        CSS for "Lesson Center"
	------------------------------------------  */

.lesson_top {
	width          : 100%;
	padding        : 20px 0 30px 0;
	background     : url(../images/lesson_top.png);
	background-size: cover;
	text-align     : center;
	font-size      : 50px;
	color          : #FFFFFF;
	text-shadow    : 0 0 30px #000000;
}

.lesson_main div img{
	width     : 90%;
	margin    : 10% 5% 0 5%;
	border    : 10px solid #FFFFFF;
	box-shadow: 0 0 30px #000000;
}

.lesson_main div h1{
	text-align:	center;
}

.lesson_main {
	background-color: #EEFDFF;
}

/*	------------------------------------------
	        CSS for "Activity Center"
	------------------------------------------  */

.activity_1,.activity_2,.activity_3 { 
	background-size: cover;
	background-repeat: no-repeat;
	height:100%;
}
.activity_1{background-image: url(../images/activity_1.jpg);}
.activity_2{background-image: url(../images/activity_2.jpg);}
.activity_3{background-image: url(../images/activity_3.jpg);}

.article_activity .btn{
	font-size       :20px;
}
.article_activity {  
	padding    : 10% 0 0 15%; 
	width      : 45%;
	max-width  : 600px;
	min-width  : 300px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
	line-height: 1.5em; color: #fff; 
}
.article_activity h2 { font-size:40px;}
}

/*	------------------------------------------
	        CSS for "Academic Center"
	------------------------------------------  */

.academic_left {padding:0;}
.academic_left>div{
	background-color: #EEEEEE;
	text-align      : center;
}
.academic_left>div:hover{background-color: #CCCCCC;}
@media (min-width: 801px){
.academic_left {
	float:left;
	width:	20%;
}
.academic_left>div{
	width  :100%;
	height :20%;
	padding:5px;
}
.academic_now{background-color: #DDDDDD !important;}
.academic_main {
	float:right;
	overflow: auto;
	width:	80%;
	padding:20px;
}
}
@media (max-width: 800px){
.academic_left {
	width:	100%;
	height:	120px !important; 
}
.academic_left>div{
	float:left;
	width:20%;
	height:120px;
	padding:5px;
}
.academic_left>div>h1{font-size: 40px;line-height: 0.5em;}
.academic_left>div>h2{font-size: 20px;}
.academic_main {
	width:	100%;
}
}

/*	------------------------------------------
	        CSS for "Enrollment"
	------------------------------------------  */

.enroll_top {
	width          :100%;
	padding        :20px 0 30px 0;
	background     : url(../images/enroll_top.jpg);
	background-size:	cover;
	text-align     : center;
	font-size      :	50px;
	color          :	#FFFFFF;
	text-shadow    :0 0 30px #000000;
}

/*	------------------------------------------
	        CSS for "SUB Lesson Pages"
	------------------------------------------  */

.lesson_left {
	position:fixed;
}

.lesson_left img{
	width     : 90%;
	margin    : 10% 5% 0 5%;
	border    : 10px solid #FFFFFF;
	box-shadow: 0 0 30px #000000;
}

.lesson_right {
	padding-left: 100px;
	margin-top:	100px;
}

.lesson_right div {
	min-height:300px;
	padding:20px;
}

/*	------------------------------------------
	        CSS for "SUB intro. Pages"
	------------------------------------------  */
.student_slide{
	height:100%;
}
.student_slide div {
	height:70%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width:70%;
	margin:30px auto;
	box-shadow:0 0 30px #000000;
}
.student_slide h1{
	float:left;
	padding:2%;
	font-size:100px;
}
.student_slide p{padding:2%;}

.content h5,.content h3{
	text-align: center;
	margin    :20px auto;
}
@media(max-width:991px){.content{display:none;}}
.student_in{
	background-size: cover;
	height         : 500px;
	width          : 100%;
	display        : block;
	overflow       : hidden;
	color          : white;
	text-shadow    : 0 0 10px #000000;
}
.student_in h1{
	font-size: 60px;
	padding  : 30px;
}
.student_in p{
	width  :50%;
	padding: 5px 30px;
}
.teacher_in{
	min-height: 500px;
}
.teacher_in:nth-child(even) {
	background-color: #EEEEEE;
}
@media(min-width:480px){.teacher_in img{float:right;}}
.teacher_in img{
	margin    :10%;
	width     :30%;
	border    : 10px solid #FFFFFF;
	box-shadow: 0 0 30px #000000;
}
.teacher_in h1{
	font-size: 60px;
	padding  : 50px 5%;
}
.teacher_in p{
	padding: 0 5%;
}