body,html {
	height:	100%;
	margin:	0;
	padding:0;
	font-family:	Arial,"Microsoft YaHei","微软雅黑",sans-serif
}
body {
	padding-top:	50px;
}

.inners{
	width:		80%;
	margin: 	0 auto;
}
@media (max-width: 960px) {.inners{width:100%;}}

#heading{
    color: 		#C4E7FF;
    background: #2E5D9C;
    position:	fixed;
    z-index:	1000;
	top:		0px;
    width:		100%;
    min-height: 	51px;
}

#inners img{
}

.navbar{margin:0;}
.navbar-toggle{margin-bottom:0;}

.nav{
	font-size:		14px;
}
.nav>li>a{
	background: #2E5D9C;
	color:#FFFFFF;
}
.nav a:hover{color:#2E5D9C;}

.footer{
	text-align:	center;
	padding: 10px;
}
.footer>div{padding:10px;}


/*	------------------------------------------
	Inherit from "ACM Website Project"
	------------------------------------------  */

.pic{
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background-size:	100%;
	background-repeat: no-repeat;
	min-width: 	100%;
	min-height:	90%;
	height: 90%;
}

.p1{background-image: url("../image/1_w.jpg");}

.block_main {
	background-color: rgba(256,256,256,0.6);
	vertical-align: middle;
	margin: 	0 auto;
	width: 		90%;
	height:		100%;
}

.block_main>p{margin: 0;}

.block_inside {
	text-align:	center;
	height:		96%;
	padding:	2%;
	overflow:	auto;
}

.block_left {
	border:	5px dotted #DDDDDD;
	margin: 40px;
}

.ul_left{
	float:		right;
	font-size:	40px;
	width:		540px;
	color:		#333333;
	line-height:2em;
}

.post,.home {
	overflow:	auto;
	height:		93%;
	width:		90%;
	margin:		20px;
}

.block_2 h1{
	color:	#FFFFFF;
	text-align: center;
	font-family: YouYuan;
	font-size:	40px;
	padding: 12% 0;
}

.footer{
	text-align: center;
	padding:	10px;
}

/*	------------------------------------------
	Inherit from "Parallax Scrolling Tutorial"
	------------------------------------------  */

article h2 { font-family: 'Lobster Two'; font-size: 60px; margin: 25px 0; line-height: 1em; }

.story { height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 15px rgba(0,0,0,0.8);}

#first { background: url(../image/0.png) 50% 0 no-repeat fixed; }
#second { background: url(../image/1.jpg) 50% 0 no-repeat fixed; }
#fourth { background: url(../image/2.jpg) 50% 0 no-repeat fixed; }
#third { background: url(../image/3.jpg) 50% 0 no-repeat fixed; }
#theend { background: url(../image/0.png) 50% bottom no-repeat fixed; }

/* Introduction */
#first .intro { background: url(../head.jpg) 50% 50px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article h1 {color:	#FFFFFF;font-size: 50px;}
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

/* Background Only */
#second { padding: 50px 0;}
#second article { background: url(../image/grain.png) repeat #333; color: #fff; width: 445px; margin-left: 50px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 10px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}

/* Photograph */
#third article {  background: url(../image/grain.png) repeat #333; color: #fff; padding: 10px 20px; margin: 50px 0 0 60%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#third .photograph { background: url(./image/photo.png) transparent 40% 50px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#third article p { width: 300px; margin-bottom: 25px; }

/* HTML5 Video */
#fourth article {  margin-left: 10%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#fourth article p { width: 300px; margin: 50px 0; }
#fourth video { position: fixed; left: 50%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}

/* The End */
#theend .byebye { background: url(./image/theend.png) 40% 50px no-repeat fixed; height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }


