	<div class = "footer">
  		<div style ="float:left">Powered By <a href="http://www.bootcss.com">BootStrap</a> written by PPCA2014
		<button class="btn btn-primary btn" data-toggle="modal" data-target="#myModal" style = "padding:0;border:0;font-size:6px;">
  			&nbsp;本页面的期望与实际问题&nbsp;
		</button>
  		</div>
  		<div style ="float:right">Copyright &copy; 2014 <a href="http://acm.sjtu.edu.cn">ACM Class</a>. All rights reserved.</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog"><div class="modal-content"><div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p>{% if page.bugs %}{{ page.bugs }} | {% endif %} "无"</p>
        <p><a href="{{ "/project_intro/index.html" | prepend: site.baseurl }}">项目主页</a></p>
    </div></div></div></div></div>

	</body>
	<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/jquery.md5.js" | prepend: site.baseurl }}"></script> 
	<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
</html>