<li>
	<div class="timeline-date">{{ post.date | date_to_string }}</div>
	<a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"><div class="timeline-badge primary"></div></a>
	<div class="timeline-panel">
		<div class = "col-md-6 timeline-pic hidden-xs" {% if post.feature %}style = "background-image:url({{site.baseurl}}/images/{{ post.feature }});"{% endif %}>
		</div>
		<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		<div class="col-md-6 timeline-body">
	  		{{ post.content  | split:'<!--break-->' | first }}
		</div>
		<div class="timeline-footer"><a class="pull-left" href="{{ post.url | prepend: site.baseurl }}">点击查看更多</a></div>
	</div>
</li>
