  {% include head.html %}
    <body class = "Microsoft_YaHei">
    <div id = "headingForPost">
    	{% include navigation.html %}
    </div>
    <div class = "big_top" {% if page.pic %}style = "background-image:url({{site.baseurl}}/images/{{ page.pic }});"{% endif %}>
		{% if page.title_full %}{{ page.title_full}}{% else %}{{page.title}}{% endif %}<br/>
	</div>
    <div class = "container{% if page.size_big %}_big{% endif %} acm_article">
        {{ content }}
    </div>
    {% include footer.html %}
