<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>上海交通大学ACM班</title>
	    <meta name="viewport" content="width=device-width">
	    <meta name="description" content="{{ site.description }}">
		<link rel="stylesheet" href="./css/bootstrap.min.css">
	    <link rel="stylesheet" href="./css/main.css">
	</head>
	<body class = "Microsoft_YaHei">
	{% include navigation.html %}

	<div class="lesson_main container">
		<div class = "lesson_top">
			课程中心<br/>Lesson Center
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<a href = "./lessons/ppca.html"><h1>PPCA</h1></a>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
	</div>

  <div class = "footer">
  	<div style ="float:left">Powered By <a href="http://www.bootcss.com">BootStrap</a> written by PPCA2014</div>
  	<div style ="float:right">Copyright &copy; 2014 <a href="/">ACM Class</a>. All rights reserved.</div>
  </div>


	</body>
	<script type="text/javascript" src="http://www.youziku.com/UserDownFile/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.youziku.com/UserDownFile/jquery.md5.js"></script> 
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/main.js"></script>
</html>
