	{% include head.html %}
	<body class = "Microsoft_YaHei" style = "padding-top:50px;">
	<div id="headingDefault">
		{% include navigation.html %}
	</div>
	
<div class = "minh container_big">
	<div class="lesson_left col-md-4">
		<h1>课程</h1>
		<img src = "../images/lesson_1.jpg" />
		<h2>{{ page.title }}</h2>
		<ul>
			<li>课程全称：{{ page.fullname }}</li>
			<li>授课老师：{{ page.teacher }}</li>
			<li>授课年级：{{ page.grade }}</li>
		</ul>
	</div>
	<div class="lesson_right col-md-8">
		{{ content }}
	</div>
</div>

{% include footer.html %}
