<!DOCTYPE html>
<html>
	{% include head.html %}
	<body class = "Microsoft_YaHei">
	<div id="heading">
		{% include navigation.html %}
	</div>
	<div class="lesson_main container">
		<div class = "lesson_top">
			课程中心<br/>Lesson Center
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<a href = "./lessons/ppca.html"><h1>PPCA</h1></a>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
		<div class = "col-md-4">
			<img src = "./images/lesson_1.jpg">
			<h1>PPCA</h1>
		</div>
	</div>
{% include footer.html %}